/* Basic reset */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
}

/* Styling for the entire body */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #050505; /* Dark background color */
  color: #f0f0f0; /* Light text color */
}

/* Styling for the header */
header {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

/* Styling for forms */
form {
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  background-color: #333;
  border: none;
  color: #f0f0f0;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Styling for tables */
table {
  width: 90%; /* Adjusted width */
  margin-top: 20px; /* Spacing from form */
  border-collapse: collapse;
}

th,
td {
  padding: 15px; /* Increased padding for a better look */
  text-align: left;
  border-bottom: 1px solid #333; /* Darker line for separation */
}

tr:hover {
  background-color: #333; /* Hover effect for rows */
}

/* Styling for clickable elements */
.clickable:hover {
  background-color: #444; /* Dark hover effect */
  cursor: pointer;
}

/* Additional styling */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.directory-button,
.file-row {
  text-align: left;
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
}

.directory-button:hover,
.file-row:hover {
  background-color: #333; /* Hover effect */
}
