<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Structure</title>
</head>

<body>
    <h1>Directory Structure Viewer</h1>
    <form action="/" method="post">
        <input type="text" name="directory" value="{{ root_directory }}" placeholder="Enter directory path">
        <input type="text" name="search_query" value="{{ search_query }}" placeholder="Search here">
        <button type="submit">Refresh & Search</button>
    </form>
    {% if directory_structure %}
    <ul>
        {% for item, contents in directory_structure.items() %}
        {% if contents %} <!-- Check if the contents is not None or empty, suggesting it is a folder -->
        <li>&#128193; {{ item }} <!-- Folder icon -->
            <ul>
                {% for subitem, subcontents in contents.items() %}
                {% if subcontents %} <!-- Recursive check for subfolders -->
                <li>&#128193; {{ subitem }} <!-- Folder icon -->
                    <ul>
                        {% for file, dummy in subcontents.items() %}
                        {% if dummy %} <!-- Further checking to differentiate files from folders -->
                        <li>&#128193; {{ file }}</li> <!-- Folder icon for nested folders -->
                        {% else %}
                        <li>&#128196; {{ file }}</li> <!-- File icon -->
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li>&#128196; {{ subitem }}</li> <!-- File icon -->
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li>&#128196; {{ item }}</li> <!-- File icon -->
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if search_results %}
    <h2>Search Results:</h2>
    <ul>
        {% for result in search_results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>