<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Structure Viewer</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script>
        function navigateTo(item) {
            const encodedPath = encodeURIComponent(item);
            const newPath = window.location.pathname === '/' ? encodedPath : `${window.location.pathname}/${encodedPath}`;
            window.location.href = newPath;
        }


        function goUpOneDirectory() {
            const currentPath = window.location.pathname;
            const upOnePath = currentPath.substring(0, currentPath.lastIndexOf('/'));
            window.location.href = upOnePath || '/';
        }

        function rescanDirectory() {
            // Clear the cache by adding a timestamp parameter
            const currentUrl = window.location.href;
            const separator = currentUrl.includes('?') ? '&' : '?';
            window.location.href = currentUrl + separator + 'rescan=' + new Date().getTime();
        }
    </script>
</head>

<body>
    <header>
        <h1><a href="/" style="text-decoration: none; color: inherit;">Directory Structure Viewer</a></h1>
        <form
            onsubmit="event.preventDefault(); window.location.href = '/search/' + encodeURIComponent(this.search_query.value);">
            <input type="text" name="search_query" value="{{ search_query }}" placeholder="Search here">
            <button type="submit">Search</button>
        </form>

        <h2>Index of {{ root_directory.replace('\\', '/') }} <button onclick="rescanDirectory()">ReScan</button></h2>
        {% if not is_base_directory %}
        <button onclick="goUpOneDirectory()">Up One Directory</button>
        {% endif %}
    </header>

    {% if directory_structure %}
    <table>
        <th><a
                href="?sort=type_sort&order={{ 'asc' if request.args.get('sort') == 'type_sort' and request.args.get('order') == 'desc' else 'desc' }}">Type</a>
        </th>
        <th><a
                href="?sort=name&order={{ 'asc' if request.args.get('sort') == 'name' and request.args.get('order') == 'desc' else 'desc' }}">Name</a>
        </th>
        <th><a
                href="?sort=size&order={{ 'asc' if request.args.get('sort') == 'size' and request.args.get('order') == 'desc' else 'desc' }}">Size</a>
        </th>
        <th><a
                href="?sort=last_modified&order={{ 'asc' if request.args.get('sort') == 'last_modified' and request.args.get('order') == 'desc' else 'desc' }}">Last
                Modified</a></th>
        {% for item, details in directory_structure.items() %}
        <tr class="{{ 'clickable' if details.is_directory else 'non-clickable' }}" {% if details.is_directory
            %}onclick="navigateTo('{{ item }}');" style="cursor: pointer;" {% endif %}>
            <td>{{ 'Directory' if details.is_directory else 'File' }}</td>
            <td>{{ item }}</td>
            <td>{{ details.size }}</td>
            <td>{{ details.last_modified }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>